.title{
    text-align: center;
}

.image{
    display: block;
    margin: 0 auto;
}

.popularity{
    text-align: center;
}

.overview{
    text-align: center;
}

.button{
    width: 150px;
    display: block;
    margin: 0 auto;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;
}

.item{
    list-style-type: none;
    margin-top: 5px;
}

.link{
    font-size: 18px;
    text-decoration: none;
    color: grey
    
}